# ============================
# Django & Environment
# ============================
ENV=development
SECRET_KEY="your-secret-key-here"

# ============================
# Database
# ============================
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_NAME=orr
DATABASE_PASSWORD=postgres_password_here


DATABASE_URL=postgres://username:password@hostname:port/databasename


# ============================
# Frontend URLs
# ============================

FRONTEND_VERIFY_EMAIL_URL=http://localhost:3000/auth/verify-email
FRONTEND_RESET_PASSWORD_URL=http://localhost:3000/auth/reset-password

# ============================
# Email Config
# ============================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your_email_here@gmail.com
EMAIL_HOST_PASSWORD=your_app_password_here
DEFAULT_FROM_EMAIL=your_email_here@gmail.com


CELERY_BROKER_URL=redis://localhost:6379/0

STRIPE_SECRET_KEY = "sk_test_XXXXXXXXXXXXXXXXXXXXXXXX"
STRIPE_PUBLISHABLE_KEY = "pk_test_XXXXXXXXXXXXXXXXXXXXXXXX"

STRIPE_SUCCESS_URL=https://yourapp.com/payment/success
STRIPE_CANCEL_URL=https://yourapp.com/payment/cancel


DJANGO_SUPERUSER_USERNAME=admin_username
DJANGO_SUPERUSER_EMAIL=admin@email.com
DJANGO_SUPERUSER_PASSWORD=admin_password


